body{
    background-color: rgb(235, 235, 235);
}
.frame {
  margin: 0 auto;          /* 中央寄せ */
  min-height: 100vh;       /*ページ全体を囲む */
  padding: 0px;           /* 内側余白 */
  box-sizing: border-box;
  color: black;

  /* ここが Unity の Sprite Slice と同じ */
  border-style: solid;
  border-width: 300px;           /* 枠の太さ → 自由に調整可能 */
  border-image-source: url("OrnateFlame2.png");  /* 枠画像 */
  border-image-slice: 511 fill;  /* Unity の Slice 値 → 同じ値にする */
  border-image-repeat: stretch; /* 辺は伸ばし、角はそのまま */
}



header {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: rgb(195, 224, 202);
  align-items: center;

  margin: 0 auto;          /* 中央寄せ */
  box-sizing: border-box;
  color: black;

  /* ここが Unity の Sprite Slice と同じ */
  border-style: solid;
  border-width: 50px;           /* 枠の太さ → 自由に調整可能 */
  border-image-source: url("BookPageUi.png");  /* 枠画像 */
  border-image-slice: 300 fill;  /* Unity の Slice 値 → 同じ値にする */
  border-image-repeat: stretch; /* 辺は伸ばし、角はそのまま */
}
 
.title {
  margin-right: auto;
}

/* メニューのスタイル */
.menu {
  position: fixed;
  top: 0;
  right: -100%; /* 初期状態では画面の外に隠れている */
  width: 300px;
  height: 100%;
  background-color: #dadadaea;
  color: #333;
  transition: right 0.3s ease; /* スライドインのアニメーション */
  padding: 20px;
  box-sizing: border-box;
  z-index: 10;
}

/* メニューが開いているとき */
.menu.open {
  right: 0;
}

/* ボタンのスタイル */
.hamburger {
  position: fixed;
  top: 32px;
  right: 25px;
  width: 40px;
  cursor: pointer;
  z-index: 20;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
}

/* バツ印に変化するスタイル */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* メニューリストのスタイル */
.menu ul {
  list-style-type: none;
  padding: 0;
  margin-top: 80px;
}

.menu li {
  padding: 20px 0;
  border-bottom: 1px solid #444;
}

.menu li a {
  color: #333;
  text-decoration: none;
  display: block;
}
