body{
    background-color: rgb(235, 235, 235);
}
.frame {
  margin: 0 auto;          /* 中央寄せ */
  min-height: 100vh;       /*ページ全体を囲む */
  padding: 0px;           /* 内側余白 */
  box-sizing: border-box;
  color: black;

  /* ここが Unity の Sprite Slice と同じ */
  border-style: solid;
  border-width: 300px;           /* 枠の太さ → 自由に調整可能 */
  border-image-source: url("OrnateFlame2.png");  /* 枠画像 */
  border-image-slice: 511 fill;  /* Unity の Slice 値 → 同じ値にする */
  border-image-repeat: stretch; /* 辺は伸ばし、角はそのまま */
}



header {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: rgb(228, 213, 213);
  align-items: center;

  margin: 0 auto;          /* 中央寄せ */
  box-sizing: border-box;
  color: black;

  /* ここが Unity の Sprite Slice と同じ */
  border-style: solid;
  border-width: 50px;           /* 枠の太さ → 自由に調整可能 */
  border-image-source: url("BookPageUi.png");  /* 枠画像 */
  border-image-slice: 300 fill;  /* Unity の Slice 値 → 同じ値にする */
  border-image-repeat: stretch; /* 辺は伸ばし、角はそのまま */
}
 
.title {
  margin-right: auto;
}
 
.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
